@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Fira+Sans+Condensed:wght@200&display=swap');

html{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Fira Sans Condensed', sans-serif;
}
body {
    margin: 0px; padding: 0px;
}
main {
    padding: 16px;
    background-color:#ffffff;
}

h1 {
    color: #ff6f69;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed;
    bottom: 0;
    background-color:#88d8b0;
    text-align: center;
    font-weight: bolder;
    width: 100%;
    border-top: 1px #ff6f69 solid;
}
img {
    height: 200px;
}
nav {
    border-bottom: 1px black solid;
    padding: 16px;
    background-color: 	#ffcc5c;
    font-weight: bold;
    font-size: large;
}

a {
    text-decoration: none;
}

a:hover {
    color: #96ceb4;
    transition: 2s;
}

a:visited{
    color: #428362;
}

.container {
    display: grid;
    padding: 10px;
    grid-template-columns: 33% 34% 33%;
}

.grid-item {
    padding: 10px;
}

.shadow {
    box-shadow: 8px 8px 15px darkgray;
}

tr:nth-child(even) {
    background: lightblue
}

main {
    padding-bottom: 100px;
}
